{% include 'header.html' %}

<div class="row-fluid">
  <div class="span6 offset3">
  {% include 'messages.html' %}
	{% if form.non_field_errors %}
	   <div id="login-error" class="alert alert-error" style="display:none;margin-top:10px;margin-bottom:0;">
			<button type="button" class="close" data-dismiss="alert">×</button>
			<strong>Oh snap!</strong> {% for error in form.non_field_errors %}{{ error|escape }}{% endfor %}	
		</div>
	{% endif %}
    <div class="registration-title">
      <h2>Log in to EventHub</h2>
    </div>
  </div>
</div>

<div class="login coat">
<form method="post">
 {% csrf_token %}
  <div class="row-fluid">
    <div class="login-upper-pad">
      <label for="user_login">Email Address</label>
      <input class="span12" id="user_login" size="30" type="text" name="email" >
      <label for="user_password">Password</label>
      <input class="span12" id="user_password" size="30" type="password" name="password">
      <p class="help-block">
        <a href="forgot">Forgot your password?</a>
        <a href="register" class="pull-right" >Register</a>
      </p>
	    <label class="checkbox" for="user_remember_me">
              <input id="user_remember_me" type="checkbox" value="1">
	      Remember me
	    </label>
    </div>
  </div>
  <div class="form-actions">
    <div class="row-fluid">
      <div class="span12">
        <button id="login-btn" class="btn btn-primary btn-large" type="submit" name="login" style="float:left;margin-left:15px;">Log in</button>
          <div class="pull-right">
	    Or
	    <a href="https://www.facebook.com/dialog/oauth?client_id={{ app_id }}&redirect_uri={{ redir_uri|urlencode:"" }}&state=test">
	      Log in with Facebook
	    </a>
	  </div>
      </div>
    </div>
  </div>
</form>
</div>

{% include "footer.html" %}