{% include 'header.html' %}

<style type="text/css">
  body {
    background: url({{ STATIC_URL }}img/bg.jpg) repeat 0 0 #efefef;
  }
</style>

<div id="fb-root"></div>
<script src="https://connect.facebook.net/en_US/all.js#appId={{ app_id }}&xfbml=1"></script>

<div class="row-fluid">
  <div class="span12">
  {% if used_fbid %}
    <div id="register-error" class="alert alert-error" style="display:none;margin-top:10px;margin-bottom:0;">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Oh snap!</strong> That Facebook account has already been registered with this app!		
    </div>
  {% elif used_email %}
    <div id="register-error" class="alert alert-error" style="display:none;margin-top:10px;margin-bottom:0;">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Oh snap!</strong> That email address is already being used! Are you trying to <a href="login">log in</a>?		
    </div>
  {% endif %}
  
    <div class="registration-title">
      <h2>Create an account</h2>
    </div>
  </div>
</div>

<div class="row-fluid align-center">
  <div class="span12">
    <fb:registration
        redirect-uri="{{ web_root }}/register"
        fields="[
          {'name':'name','view':'prefilled'},
          {'name':'first_name','view':'not_prefilled'},
          {'name':'last_name','view':'not_prefilled'},
          {'name':'email'}
        ]"
        width="650">
    </fb:registration>
  </div>
</div>

<script src="{{ STATIC_URL }}js/auth.js"></script>

{% include 'footer.html' %}