{% include "header.html" %}

<div class="well well-custom">
        <div class="registration-title">
            <h2 class="registration-title-h2">Reset your password</h2>
        </div>
<form class="form-horizontal">
	<div class="control-group">
		<label class="control-label" for="inputEmail">New Password</label>
		<div class="controls">
			<input type="password" id="inputEmail">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="inputPassword">New Password (again)</label>
		<div class="controls">
			<input type="password" id="inputPassword" >
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
                        <button id="reset-btn" class="btn btn-primary" type="submit" name="reset" style="margin-bottom: 10px;">Reset Password</button>
		</div>
	</div>
</form>
      
      <div class="row registration-title"">
        <div class="form-actions">
            <a href="login">Return to Login</a>
        </div>      
      </div>

</div>
{% include "footer.html" %}
