a:hover,
a:active {
  text-decoration: none;
}

.event-title {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 5px;
	padding-top:0;
	padding-bottom:0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.event-title h3 {
	margin-top:5px;
	margin-bottom:0;
}
.event-title a {
  color: #0080c0;
}

.event-title a:hover {
  color: #005580;
}

.title {
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 5px;
	padding-top:0;
	padding-bottom:0;

}

p.event-description {

}

.event-time {
	padding-top:7px;
	padding-left:10px;
	line-height: 23px;
}
.event-time strong {
	font-size: 16px;
}
.event-author {
	padding: 21px 10px 0 0;
	color: #989898;
	font-size: 12px;
}

.list-title{
	/*border-bottom: 1px solid #DDDDDD;*/
	margin-bottom: 3px;
	margin-top: 7px;
}
.list-item{
	/*border-bottom: 1px solid #DDDDDD;*/
	margin-bottom: 3px;
	margin-top: 3px;
	height: 80px;
}


.nav-list label {
	font-size: 13px;
	margin: 0 0 3px 0;
}



.sidebar-nav {
	margin-top: 15px;
	padding: 9px 0;
}

.well-custom {
	margin-top: 15px;
	margin-bottom: 5px;
	padding-top: 0;
	border-radius: 3px;

}
.sidebar-nav, .well-custom {
	background-color: rgba(255, 255, 255, 0.7);
}
.title-custom {
	font-size: 13px;
}


.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: #EBEBEB;
}
.form-horizontal .control-label-custom {
  float: left;
  width: 90px;
  padding-top: 5px;
  padding-left: 40px;
  text-align: right;
}
.form-horizontal .controls-custom {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 150px;
  *margin-left: 0;
}

.control-label-profile {
  float: left;
  width: 160px;
  padding-top: 5px;
  padding-left: 40px;
  text-align: left;
}
.control-label-text {
  padding-top: 20px;
  padding-left: 40px;
  text-align: left;
}
.control-label-upload {
  float: left;
  padding-top: 5px;
  padding-left: 40px;
  padding-right: 20px;
  text-align: left;
}

.registration-title {
	text-align: center;
	padding-top:10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #EBEBEB;
	margin-bottom: 10px;
}
.registration-title h2 {
	font-size: 24px;
	line-height: 1.1;
	color: #555;
	font-weight: bold;
}
.email-text {
	color: #555;
}

.location-title{
		padding:15px 0px;	
}

.login {
	margin: auto;
	width: 400px;
}
.login-upper-pad {
	padding: 25px 30px 0 30px;
}

.register {
	margin: auto;
	width: 630px;
}
.register-upper-pad {
	padding: 25px 25px 0 25px;
}

.coat {
	background-color:rgba(255,255,255,0.7);
	margin-bottom:12px;
	box-shadow:0 0 3px rgba(0,0,0,0.3);
	-moz-box-shadow:0 0 3px rgba(0,0,0,0.3);
	-webkit-box-shadow:0 0 3px rgba(0,0,0,0.3);
	-o-box-shadow:0 0 3px rgba(0,0,0,0.3);
}

.padding15 {
	padding: 15px;
}

.coat-footer {
	background:#EFEFEF;
	border-top:1px solid #DBDAD7;
	border-bottom:1px solid #DBDAD7;
}

hr.diagonal {
	border:0;
	height:10px;
	background:url(../img/divide.png) repeat-x scroll 0 0 transparent;
	margin:30px 0 30px 0;
	clear:both;
}

hr.footer-diag {
	border:0;
	height:10px;
	background:url(../img/divide.png) repeat-x scroll 0 0 transparent;
	clear:both;
	margin-top: 0;
	margin-bottom: 5px;
}

.align-center {
	text-align: center;
}

.footer {
	font-family: 'Trebuchet MS', 'Helvetica Neue', Arial, sans-serif;
	font-size: 11px;
	color: #777;
	padding-top: 5px;
	border-top: 1px solid #EBEBEB;
	text-align: center;
}
.footer a:hover { border: none; }


.fb-comments, .fb-comments span, .fb-comments iframe {
	width: 100% !important;
	margin-bottom: 10px;
}

.navbar .brand {
  display: block;
  float: left;
  padding: 5px 0 0 20px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  *zoom: 1;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  border-width: 0;
}

.navbar-inverse {
  color: #c7e7ff;
}

.navbar-inverse .navbar-inner {
  background-color: #0600ff;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#0044cc',GradientType=0 );/*IE */

  background-repeat: repeat-x;
  border-color: #252525;
}

.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover {
  color: #ffffff;
}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover {
  color: #ffffff;
  background-color: transparent;
}

.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus {
  color: #ffffff;
  background-color: #111111;
}

.navbar-inverse .navbar-link {
  color: #ffffff;
}

.navbar-inverse .navbar-link:hover {
  color: #cde3ff;
  text-decoration: none;
}

body {
	background-image: url("../img/bg.jpg");
}

.img-list{
	max-height: 80px;
	max-width:  90px;
	padding: 2px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.lead-custom {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: 200;
  line-height: 25px;
}

.event-image {
  width:190px;
  margin-top:7px;
  margin-left:5px;
}

.sidebar-img{
    width:250px;
	margin-top: 15px;
	text-align: center;
}

.form-bottom {
    background-color: #F5F5F5;
    border-top: 1px solid #E5E5E5;
    margin-bottom: -12px;
    margin-top: 3px;
    padding: 13px 19px 0;
}

.modal-profile{
   width: 620px;
}

#refresher {
	background-color: rgba(255, 255, 255, 1.0);
}
#contentLoader {
	display: none;
	text-align: center;
	margin-top: 20px;
}

.profile-mini {
	width: 25px;
	margin:0 2px 4px 0;
	border: 1px solid #f2f2f2;
}

.profile-medium {
	width: 100px;
	margin:18px 0px -5px 3px;
	border: 1px solid #f2f2f2;
}

.form-horizontal legend {
	line-height: 15px;
	padding-bottom: 10px;
}