<div id="createEvent" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">Create an event</h3>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div id="ctrl-title" class="control-group">
				<label class="control-label-custom" for="input-title">Event Title</label>
				<div class="controls-custom">
					<input type="text" class="input-xlarge" id="input-title" name="title" maxlength="45">
					<span id="err-title" class="help-block" style="display:none;"></span>
				</div>
			</div>
			<div id="ctrl-start" class="control-group">
				<label class="control-label-custom" for="input-startdate">Start</label>
				<div class="controls-custom controls-row">
					<div class="input-append">
						<input type="text" class="input-small datepicker" id="input-startdate" name="startdate" style="text-align:center;" autocomplete="off" value="{% now "m/d/Y" %}"><span id="picker-1" class="add-on btn"><i class="icon-calendar"></i></span>
					</div>
					 &nbsp;&nbsp;&nbsp;&nbsp;
					<div class="input-append">
						<input type="text" class="input-mini" id="input-starttime" name="starttime" style="text-align:center;" autocomplete="off" value="12:00"><span id="clockswitch-1" class="add-on btn" type="button">&nbsp;PM&nbsp;</span>
					</div>
					<span id="err-start" class="help-block" style="display:none;padding-top:10px;"></span>
				</div>
			</div>
			<div id="ctrl-end" class="control-group">
				<label class="control-label-custom" for="input-enddate">Finish</label>
				<div class="controls-custom controls-row">
					<div class="input-append">
						<input type="text" class="input-small datepicker" id="input-enddate" name="enddate" style="text-align:center;" autocomplete="off" value="{% now "m/d/Y" %}"><span id="picker-2" class="add-on btn"><i class="icon-calendar"></i></span>
					</div>
					 &nbsp;&nbsp;&nbsp;&nbsp;
					<div class="input-append">
						<input type="text" class="input-mini" id="input-endtime" name="endtime" style="text-align:center;" autocomplete="off" value="4:00"><span id="clockswitch-2" class="add-on btn" type="button">&nbsp;PM&nbsp;</span>
					</div>
					<span id="err-end" class="help-block" style="display:none;padding-top:10px;"></span>
				</div>
			</div>
			<div id="ctrl-description" class="control-group">
				<label class="control-label-custom" for="input-description">Description</label>
				<div class="controls-custom">
					<textarea class="input-xlarge" id="input-description" rows="5" name="description"></textarea>
					<span id="err-description" class="help-block" style="display:none;"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input-location">Location</label>
				<div class="controls-custom">
					<select>
					{% if neighborhoods_list %} {% for neighborhood in neighborhoods_list %}
					<option>{{ neighborhood }}</option>
					{% endfor %} {% endif %}
					</select>
					<span class="help-inline"></span>
				</div>
			</div>
			<div id="ctrl-venue" class="control-group">
				<label class="control-label-custom" for="input-venue">Venue</label>
				<div class="controls-custom">
					<input type="text" class="input-xlarge" id="input-venue" name="venue" placeholder="ex) CenturyLink Field">
					<span id="err-venue" class="help-block" style="display:none;"></span>
				</div>
			</div>
			<div id="ctrl-street" class="control-group">
				<label class="control-label-custom" for="input-street">Street&nbsp;Address</label>
				<div class="controls-custom">
					<input type="text" class="input-xlarge" id="input-street">
					<span id="err-street" class="help-block" style="display:none;"></span>
				</div>
			</div>
			<div id="ctrl-city" class="control-group">
				<label class="control-label-custom" for="input-city">City</label>
				<div class="controls-custom controls-row">
					<input type="text" id="input-city" style="width:60px;" value="Seattle">&nbsp;&nbsp;&nbsp; State &nbsp;<input type="text" id="input-state" style="text-transform:uppercase;width:25px;" maxlength="2" value="WA">&nbsp;&nbsp;&nbsp; Zip Code &nbsp;<input type="text" style="width:50px;" id="input-zip" maxlength="5">
					<span id="err-city" class="help-block" style="display:none;padding-top:5px;"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input10">Cost</label>
				<div class="controls-custom controls-row">
					<div class="input-prepend">
						<span class="add-on">Min</span><input type="text" class="input-mini" id="input10" name="cost" placeholder="$">
					</div>
					<div class="input-prepend">
						<span class="add-on">Max</span><input type="text" class="input-mini" id="input10" name="cost" placeholder="$">
					</div>
					<label class="checkbox">
					<input type="checkbox" value="">
					Free </label>
				</div>
			</div>
			<div id="ctrl-url" class="control-group">
				<label class="control-label-custom" for="input-url">Web URL</label>
				<div class="controls-custom">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-globe"></i></span><input type="text" class="input-xlarge" id="input-url" placeholder="http://example.com">
					</div>
					<span id="err-url" class="help-block" style="display:none;padding-top:10px;"></span>
				</div>
			</div>
			<div id="ctrl-categories" class="control-group">
				<label class="control-label-custom" for="input12">Categories</label>
				<div class="controls-custom controls-row">
					{% if categories_list %} {% for category in categories_list %}
					<label class="checkbox">
					<input type="checkbox" value={{ category.id }}>
					{{ category.name }} </label>
					{% endfor %} {% endif %}
				</div>
			</div>
			<div id="ctrl-image" class="control-group">
				<label class="control-label-custom" for="input-photo">Event Photo</label>
				<div class="controls-custom">
					<input type="file" id="input-photo" accept="image/*">
					<span id="err-image" class="help-block" style="display:none;"></span>
				</div>
			</div>
			
		</div>
		<!-- form-->
	</div>
	<!-- modal-->
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancel</button>
		<button id="publish" class="btn btn-primary">Publish Event</button>
	</div>
</div>

<script src="{{ STATIC_URL }}js/create.js"></script>