{% include 'header.html' %}

<div class="row">
  <!-- Event Full view-->
  <div class="span8">
    <div class="row">
      <div class="span8">
        <div class="well well-custom">
          <div class="event-title">
            <h2>{{ event.name }}</h2>
          </div>

          <div class="row">
              <div class="span7">
                <p>
                  <h4>{{ event.start_date|date:"l, F j, Y" }}
                  <strong class="pull-right">{{ event.start_date|date:"g:i A" }} - {{ event.end_date|date:"g:i A" }}</strong></h4>
                </p>
                <p>
                  {{ event.description }}
                </p>
              </div>
          </div>
	<div class="row">
	          <div class="span7">
				<p>
					<strong>Cost/Fees</strong><br>
	               $20 for UW students; $50 for general public
				   <small class="pull-right"><a href="/index">&raquo; Back to Results</a></small>
	            </p>
	          </div>
  
		<div class="row">
	          <div class="span7" style="padding-left: 19px;">
	            <img src="{% if event.image %}{{ event.image.url }}{% else %}{{ STATIC_URL }}photos/no-image-big.png{% endif %}" class="img-polaroid">
	          </div>
        </div>
		  
    </div>

          
        </div>
      </div>
    </div>
    
    <div class="row">
      <!--Social Stuff-->
      <div class="span8">
        <div class="well well-custom">
          <div class="event-title">
            <h2>Social stuff</h2>
          </div>
          <div class="fb-comments" data-href="http://127.0.0.1:8000/event" data-num-posts="5"></div>
        </div>
        <!-- /well-->
      </div>
      <!-- /span-->
    </div>
  </div>
  <!--/span-->

  <!--list of similar events-->
  <div class="span4">
    <div class="well well-custom">
      <div class="event-title">
        <h3>Similar Events</h3>
      </div>
      <div class="list-title">
        <strong>Saturday, October 13</strong>
      </div>
      <div class="list-item">
        <div class="pull-left">
            <img src="{{ STATIC_URL }}photos/football.png" class="img-list" >
        </div>
        <div class="span2">
            <a href="#">Washington vs. USC Football Game</a><br>
            <small>4:00 PM - 7:30 PM</small>
        </div>
      </div>
      <div class="list-item">
        <div class="pull-left">
            <img src="{{ STATIC_URL }}photos/volleyball.jpg" class="img-list" >
        </div>
        <div class="span2">
            <a href="#">Washington vs. USC Volleyball Game</a><br>
            <small>4:00 PM - 7:30 PM</small>
        </div>
      </div>
      <div class="list-title">
        <strong>Sunday, October 14</strong>
      </div>
	  <div class="list-item">
        <div class="pull-left">
            <img src="{{ STATIC_URL }}photos/football.png" class="img-list" >
        </div>
        <div class="span2">
            <a href="#">Washington vs. USC Football Game</a><br>
            <small>4:00 PM - 7:30 PM</small>
        </div>
	  </div>
      <p>
        <a href="index">More...</a>
      </p>
    </div>
    <!-- /well-->
  </div><!-- /span-->

  <div class="span4">
		<div class="well well-custom">
				<div class="row">
				  		<div class="span4 location-title">
						        <strong>{{ event.venue }}</strong><br>
								{{ event.street }}, {{ event.city }}, {{ event.state }} {{ event.zipcode }}<br>
								<a href="{{ event.url }}">{{ event.url }}</a>
						</div>
				</div>
				<div class="row">
						<div class="span3">
								<img src="http://maps.googleapis.com/maps/api/staticmap?center=47.595146,-122.331601&zoom=13&size=1110x1110&sensor=false" class="img-polaroid">
						</div>
				</div>
		</div>
  </div>

</div>
{% include "footer.html" %}