<table class="table table-hover ">
<tbody>
 {% if latest_event_list %} {% for event in latest_event_list %}
<tr>
	<td width="205">
		<img src="{{event.image.url}}" class="img-polaroid event-image">
		<p class="event-time">
			<strong>{{ event.start_date|date:"l, F j" }}</strong><br>
			Starts at {{ event.start_date|date:"g:i A" }}
		</p>
	</td>
	<td style="border-left:none;">
		<div class="event-title">
			<h3>{{ event.name }} <small><a href="event">&raquo; more</a></small></h3>
		</div>
		<p>
			{{ event.description }}
		</p>
		<p>
			<strong>{{ event.venue }}</strong><br>
			 {{ event.street }}, {{ event.city }}, {{ event.state }} {{ event.zipcode }}<br>
			<a href="{{ event.url }}">{{ event.url }}</a>
		</p>
		<p>
			<strong>Cost/Fees</strong><br>
			 $20 for UW students; $50 for general public
		</p>
	</td>
</tr>
 {% endfor %} {% else %}
<p>
	No events are available.
</p>
 {% endif %}
</tbody>
</table>
