 {% if latest_event_list %} {% for event in latest_event_list %}
<tr>
	<td width="205">
		<a href="/event/{{ event.id }}"><img src="{% if event.image %}{{ event.image.url }}{% else %}{{ STATIC_URL }}photos/no-image-big.png{% endif %}" class="img-polaroid event-image"></a>
		<p class="event-time">
			<strong>{{ event.start_date|date:"l, F j" }}</strong><br>
			Starts at {{ event.start_date|date:"g:i A" }}
		</p>
	</td>
	<td style="border-left:none;">
		<div class="event-title">
			<h3><a href="/event/{{ event.id }}">{{ event.name|truncatechars:35 }}</a></h3>
		</div>
		<p class="event-description">
			{{ event.description|truncatechars:300 }}
			{% if event.description|length >= 300 %}
			(<a href="/event/{{ event.id }}">see more</a>)
			{% endif %}
		</p>
		<p>
			<strong>{{ event.venue }}</strong><br>
			 {{ event.street }}, {{ event.city }}, {{ event.state }} {{ event.zipcode }}<br>
			<a href="{{ event.url }}">{{ event.url|truncatechars:55 }}</a>
		</p>
		<p class="pull-left">
			<strong>Cost/Fees</strong><br>
			{% if event.free %}
			FREE
			{% elif event.cost_min == event.cost_max %}
			${{ event.cost_min|floatformat:2 }} for all
			{% else %}
			${{ event.cost_min|floatformat:2 }} - ${{ event.cost_max|floatformat:2 }}
			{% endif %}
		</p>
		<p class="pull-right event-author">
		    Posted by <a href="#">{{ event.poster.first_name }} {{ event.poster.last_name }}</a>
		</p>
	</td>
</tr>
 {% endfor %} {% else %}
<p>
	No events are available.
</p>
 {% endif %}
