<table class="table table-hover table-striped table-bordered">
<tbody>
 {% if latest_event_list %} {% for event in latest_event_list %}
<tr>
	<td width="205">
		<img src="{{ STATIC_URL }}photos/football.png" class="img-polaroid" style="width:190px;height:130px;">
		<p style="padding-top:5px;">
			<strong>{{ event.start_date|date:"l, F j, Y" }}</strong><br>
			Starts at {{ event.start_date|date:"g:i A" }}
		</p>
	</td>
	<td style="border-left:none;">
		<div class="event-title">
			<h3>{{ event.name }} <small><a href="event">&raquo; more</a></small></h3>
		</div>
		<p>
			{{ event.description }}
		</p>
		<p>
			<strong>CenturyLink Field</strong><br>
			 800 Occidental Avenue South, Seattle, WA<br>
			<a href="http://www.centurylinkfield.com/">http://www.centurylinkfield.com/</a>
		</p>
		<p>
			<strong>Cost/Fees</strong><br>
			 $20 for UW students; $50 for general public
		</p>
	</td>
</tr>
 {% endfor %} {% else %}
<p>
	No events are available.
</p>
 {% endif %}
</tbody>
</table>