    </div><!--container-->

    <div class="container">
		<div class="row">
			<div class="footer span12">
				&copy; EventHub 2012 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				
				<a href="index">Home</a> &nbsp;|&nbsp; 
				<a href="#" data-toggle="modal" data-target="#teamModal" onclick="return false;">About</a>
				
				<div id="teamModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 id="myModalLabel">Team</h3>
					</div>
					<div class="modal-body">
						<div class="form-horizontal">
							Chung Han (<a href="mailto:han@cs.washington.edu">han@cs.washington.edu</a>)<br>
							Derek Tseng (<a href="mailto:dxtseng@cs.washington.edu">dxtseng@cs.washington.edu</a>)<br>
							Erik Chou (<a href="mailto:erikc10@cs.washington.edu">erikc10@cs.washington.edu</a>)<br>
							Jane Liu (<a href="mailto:liuj7@cs.washington.edu">liuj7@cs.washington.edu</a>)<br>
							Karin Hellman (<a href="mailto:khellman@cs.washington.edu">khellman@cs.washington.edu</a>)<br>
							Kun Wang (<a href="mailto:kunw@cs.washington.edu">kunw@cs.washington.edu</a>)<br>
							Yukio Maeda (<a href="mailto:maeday@cs.washington.edu">maeday@cs.washington.edu</a>)
						</div>
						<!-- form-->
					</div>
					<!-- modal-->
				</div>
			</div>
		</div>
    </div>
    
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/eventhub.js"></script>
    
  </body>
</html>