<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EventHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <script type="text/javascript">
      if (window.location.hash == '#_=_') {
        window.location.hash = '';
      }
    </script>

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/eventhub.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base/jquery-ui.css" />
    <script src="{{ STATIC_URL }}js/jquery-ui-1.9.0.custom.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 45px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>
  <div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=419055718161688";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/index"><img src="{{ STATIC_URL }}img/logo.png" style="width:103px;" alt="EventHub"></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-left">
              
            </p>
            <p class="navbar-text pull-right">
              {% if user.is_authenticated %}
              <a href="/mypage" class="navbar-link">
				{% if user.get_profile.use_fb_pic == 1 %}
					{% if user.get_profile.fbid != -1 %}
					<img src="https://graph.facebook.com/{{ user.get_profile.fbid }}/picture?type=normal" class="profile-mini" name="{{user.get_profile.use_fb_pic}}">
					{% else %}
					<img src="{{ STATIC_URL }}img/profilePicPlaceholder.png" alt="No profile pic chosen" class="profile-mini">
					{% endif %}
				{% else %}
					{% if user.get_profile.pic %}
					<img src="{{user.get_profile.pic.url}}" class="profile-mini" name="{{user.get_profile.use_fb_pic}}">
					{% else %}
					<img src="{{ STATIC_URL }}img/profilePicPlaceholder.png" alt="No profile pic chosen" class="profile-mini">
					{% endif %}
				{% endif %}
              {{ user.first_name }} {{ user.last_name }}</a> &nbsp; | &nbsp; <a href="/logout" class="navbar-link">Sign Out</a> &nbsp; 
              {% else %}
              <a href="/login?next={{ request.path }}" class="navbar-link">Sign In</a> &nbsp; | &nbsp; <a href="/register" class="navbar-link">Register</a>
              {% endif %}
            </p>
            <ul class="nav">
            <!--
              extra menu
            -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <!--[if IE]>
      <div id="ie-error" class="alert alert-error" style="margin-top:10px;margin-bottom:0;">
        <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
        We're sorry, but we are not supporting Internet Explorer at this time due to its poor support of modern web standards.
        We highly recommend that you switch to a better browser, such as <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a> 
        or <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>.
      </div>
      <![endif]-->
      <noscript>
      <div id="noscript-error" class="alert alert-error" style="margin-top:10px;margin-bottom:0;">
        <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
        If you are seeing this message, your browser does not have JavaScript enabled. 
        Unfortunately, this site will not work without it. Please enable it before continuing.
      </div>
      </noscript>
