<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>EventHub</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/eventhub.css" rel="stylesheet">
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base/jquery-ui.css" />
    <script src="{{ STATIC_URL }}js/jquery-ui-1.9.0.custom.min.js"></script>
    <style type="text/css">
      body {
        padding-top: 45px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index">EventHub</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-left">
              <a href="my-events" class="navbar-link">myEvents</a>
            </p>
            <p class="navbar-text pull-right">
              <a href="login" class="navbar-link">LOG IN</a> &nbsp; | &nbsp; <a href="register" class="navbar-link">SIGN UP</a>
            </p>
            <ul class="nav">
            <!--
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">Menu 2</a></li>
              <li><a href="#contact">Menu 3</a></li>
            -->
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">