{% include "header.html" %}
{% include "createevent.html" %}
<div class="row-fluid">
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header side-title-custom">Categories</li>
				<label class="checkbox">
				<input class="cat" id="cat-all" type="checkbox" value="all" checked="checked">
				All Categories </label>
				<label class="checkbox">
				<input class="cat" id="cat-music" type="checkbox" value="Music">
				Music </label>
				<label class="checkbox">
				<input class="cat" id="cat-arts" type="checkbox" value="Arts">
				Arts </label>
				<label class="checkbox">
				<input class="cat" id="cat-sport" type="checkbox" value="Sports & Activities">
				Sports & Activities </label>
				<label class="checkbox">
				<input class="cat" id="cat-fest" type="checkbox" value="Festivals & Fairs">
				Festivals & Fairs </label>
				<label class="checkbox">
				<input class="cat" id="cat-food" type="checkbox" value="Food">
				Food </label>
				<label class="checkbox">
				<input class="cat" id="cat-film" type="checkbox" value="Film">
				Film </label>
				<label class="checkbox">
				<input class="cat" id="cat-lect" type="checkbox" value="Lectures">
				Lectures </label>
				<label class="checkbox">
				<input class="cat" id="cat-fash" type="checkbox" value="Fashion">
				Fashion </label>
				<label class="checkbox">
				<input class="cat" id="cat-night" type="checkbox" value="Nightlife">
				Nightlife </label>
				<label class="checkbox">
				<input class="cat" id="cat-fam" type="checkbox" value="Kids & Family">
				Kids & Family </label>
				<label class="checkbox">
				<input class="cat" id="cat-char" type="checkbox" value="Charities">
				Charities </label>
				
				<li class="nav-header side-title-custom">Locations</li>
				<label class="checkbox">
				<input class="loc" id="loc-all" type="checkbox" value="all" checked="checked">
				All Locations </label>
				<label class="checkbox">
				<input class="loc" id="loc-ball" type="checkbox" value="Ballard">
				Ballard </label>
				<label class="checkbox">
				<input class="loc" id="loc-bell" type="checkbox" value="Bellevue and Eastside">
				Bellevue and Eastside </label>
				<label class="checkbox">
				<input class="loc" id="loc-cap" type="checkbox" value="Capitol Hill">
				Capitol Hill </label>
				<label class="checkbox">
				<input class="loc" id="loc-col" type="checkbox" value="Columbia City">
				Columbia City </label>
				<label class="checkbox">
				<input class="loc" id="loc-down" type="checkbox" value="Downtown Seattle">
				Downtown Seattle </label>
				<label class="checkbox">
				<input class="loc" id="loc-fre" type="checkbox" value="Fremont">
				Fremont </label>
				<label class="checkbox">
				<input class="loc" id="loc-geo" type="checkbox" value="Georgetown">
				Georgetown </label>
				<label class="checkbox">
				<input class="loc" id="loc-int" type="checkbox" value="International District">
				International District </label>
				<label class="checkbox">
				<input class="loc" id="loc-lake" type="checkbox" value="Lake Union Area">
				Lake Union Area </label>
				<label class="checkbox">
				<input class="loc" id="loc-mad" type="checkbox" value="Madison Park">
				Madison Park </label>
				<label class="checkbox">
				<input class="loc" id="loc-pio" type="checkbox" value="Pioneer Square">
				Pioneer Square </label>
				<label class="checkbox">
				<input class="loc" id="loc-queen" type="checkbox" value="Queen Anne">
				Queen Anne </label>
				<label class="checkbox">
				<input class="loc" id="loc-seast" type="checkbox" value="Southeast Seattle">
				Southeast Seattle </label>
				<label class="checkbox">
				<input class="loc" id="loc-sside" type="checkbox" value="Southside Seattle">
				Southside Seattle </label>
				<label class="checkbox">
				<input class="loc" id="loc-uni" type="checkbox" value="University District">
				University District </label>
				<label class="checkbox">
				<input class="loc" id="loc-west" type="checkbox" value="West Seattle">
				West Seattle </label>
			</ul>
			<div class="input-prepend" style="padding: 10px 0 0 10px;">
				<span class="add-on"><i class="icon-search"></i></span>
				<input class="span10" id="inputText" type="text" placeholder="Search for events">
			</div>
		</div>
		<!--/.well -->
	</div>
	<!--/span-->
	<div class="span9">
		<div class="row-fluid">
			<div class="well well-custom">
				<div class="span12">
					<h2>Upcoming Events &nbsp;<small><div id="lastSearch"></small>
					  {% if user.is_authenticated %}
					  <button class="btn btn-medium btn-primary pull-right" type="button" data-toggle="modal" data-target="#createEvent" style="margin-top:8px;" >Create Event</button>
					  {% else %}
					  <a href="login"><button class="btn btn-medium btn-primary pull-right" type="button" style="margin-top:8px;">Create Event</button></a>
					  {% endif %}
					</h2>
					<div id="refresher">
						 {% include "eventlist.html" %}
					</div>
				</div>
				<!--/span-->
				<ul class="pager" style="margin-bottom:0;">
					<li class="previous">
					<a href="#">&larr; Previous</a>
					</li>
					<li class="next">
					<a href="#">Next &rarr;</a>
					</li>
				</ul>
			</div>
			<!-- well-->
		</div>
		<!--/row-->
{% include "footer.html" %}
