{% include "header.html" %}
{% include "create.html" %}
<div class="row-fluid">
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header side-title-custom">Categories</li>
				<label class="checkbox">
				<input class="cat" id="cat-all" type="checkbox" value="all" checked="checked">
				All Categories </label>
				{% if categories_list %} {% for category in categories_list %}
				<label class="checkbox">
				<input class="cat" id="cat-music" type="checkbox" value={{ category.id }}>
				{{ category.name }} </label>
				{% endfor %} {% else %}
				<p>
					No categories!
				</p>
				{% endif %}
				
				<li class="nav-header side-title-custom">Locations</li>
				<label class="checkbox">
				<input class="loc" id="loc-all" type="checkbox" value="all" checked="checked">
				All Locations </label>
				{% if neighborhoods_list %} {% for neighborhood in neighborhoods_list %}
				<label class="checkbox">
				<input class="loc" id="loc-ball" type="checkbox" value={{ neighborhood.id }}>
				{{ neighborhood.name }} </label>
				{% endfor %} {% else %}
				<p>
					No neighborhoods!
				</p>
				{% endif %}
			</ul>
			<div class="input-prepend" style="padding: 10px 0 0 10px;">
				<span class="add-on"><i class="icon-search"></i></span>
				<input class="span10" id="inputText" type="text" placeholder="Search for events">
			</div>
		</div>
		<!--/.well -->
	</div>
	<!--/span-->
	<div class="span9">
		<div class="row-fluid">
			<div class="well well-custom">
				<div class="span12">
					<h2>Upcoming Events &nbsp;<small><span id="lastSearch"></span></small>
					  {% if user.is_authenticated %}
					  <button class="btn btn-medium btn-primary pull-right" type="button" data-toggle="modal" data-target="#createEvent" style="margin-top:8px;" >Create Event</button>
					  {% else %}
					  <a href="login"><button class="btn btn-medium btn-primary pull-right" type="button" style="margin-top:8px;">Create Event</button></a>
					  {% endif %}
					</h2>
					<table class="table table-hover table-bordered table-striped" style="margin-bottom:0;">
						<tbody id="refresher">
								 {% include "eventlist.html" %}
						</tbody>
					</table>
					<div id="contentLoader">
						<img src="{{ STATIC_URL }}img/loader.gif">
					</div>
				</div>
				<!--/span-->
				<p id="contentFiller">&nbsp;</p>
			</div>
			<!-- well-->
		</div>
		<!--/row-->
{% include "footer.html" %}
