{% include 'header.html' %} 

<div class="row">
	<!--My Profile-->
	<div class="span5">
		<div class="well well-custom">
			<div class="event-title">
				<h3>My Profile</h3>
			</div>
			<div>
				<div class="row">
					<div class="span2" style="margin-right: 0px;padding-right0px;width:120px">
						{% if user.get_profile.fbid != -1 %}
						<img src="https://graph.facebook.com/{{ user.get_profile.fbid }}/picture?type=normal" class="img-polaroid"/>
						{% else %}
						<img src="http://placehold.it/100x100" alt="No profile pic chosen" class="img-polaroid"/>
						{% endif %}
					</div>
					<div class="span3" style="margin-left: 0px;padding-left: 0px">
						<p>
							<strong>First name:</strong> {{ user.first_name }}
						</p>
						<p>
							<strong>Last name: </strong>{{ user.last_name }}
						</p>
						<p>
							<strong>Email address:</strong> {{ user.email }}
						</p>
						{% if user.get_profile.fbid == -1 %}<a href="/connect">Connect with Facebook</a>{% endif %}
						<button class="btn btn-medium btn-primary pull-right" type="button" data-toggle="modal" data-target="#EditProfile" style="margin-top:8px;">Edit Profile</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	<!--My events-->
	<div class="span7">
		<div class="well well-custom">
			<div class="event-title" style="padding-top:0;padding-bottom:0;">
				<h3>My Events <button class="btn btn-medium btn-primary pull-right" type="button" data-toggle="modal" data-target="#myModal" style="margin-top:8px;">Create Event</button></h3>
			</div>
			<table class="table table-hover">
			<tbody>
			<tr>
				<td>
					<img src="{{ STATIC_URL }}photos/football.png" class="img-polaroid" style="width:140px;height:90px">
				</td>
				<td>
					<div style="padding-top:0;padding-bottom:0;">
						<h4>Washington vs. USC Football Game<button class="close" rel="popover" title="Delete Event">&times;</button></h4>
					</div>
					<strong>Saturday, October 13 </strong>
					<p>
						4:00 PM - 7:30 PM
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<img src="{{ STATIC_URL }}photos/volleyball.jpg" class="img-polaroid" style="width:140px;height:90px">
				</td>
				<td>
					<div style="padding-top:0;padding-bottom:0;">
						<h4>Washington vs. USC Volleyball Game <button class="close" rel="popover" title="Remove from My Events">&times;</button></h4>
					</div>
					<strong>Saturday, October 13 </strong>
					<p>
						4:00 PM - 7:30 PM
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<img src="{{ STATIC_URL }}photos/volleyball.jpg" class="img-polaroid" style="width:140px;height:90px">
				</td>
				<td>
					<div style="padding-top:0;padding-bottom:0;">
						<h4>Washington vs. USC Volleyball Game<button class="close" rel="popover" title="Remove from My Events">&times;</button></h4>
					</div>
					<strong>Saturday, October 13 </strong>
					<p>
						4:00 PM - 7:30 PM
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<img src="{{ STATIC_URL }}photos/football.png" class="img-polaroid" style="width:140px;height:90px">
				</td>
				<td>
					<div style="padding-top:0;padding-bottom:0;">
						<h4>Washington vs. USC Football Game<button class="close" rel="popover" title="Delete Event">&times;</button></h4>
					</div>
					<strong>Saturday, October 13 </strong>
					<p>
						 4:00 PM - 7:30 PM<button class="btn btn-medium btn-primary pull-right" type="button" data-toggle="modal" data-target="#myModal" style="margin-top:8px;">Edit Event</button>
					</p>
				</td>
			</tr>
			<tr>
				<td>
					<img src="{{ STATIC_URL }}photos/volleyball.jpg" class="img-polaroid" style="width:140px;height:90px">
				</td>
				<td>
					<div style="padding-top:0;padding-bottom:0;">
						<h4>Washington vs. USC Volleyball Game <button class="close" rel="popover" title="Delete Event">&times;</button></h4>
					</div>
					<strong>Saturday, October 13 </strong>
					<p>
						 4:00 PM - 7:30 PM<button class="btn btn-medium btn-primary pull-right" type="button" data-toggle="modal" data-target="#myModal" style="margin-top:8px;">Edit Event</button>
					</p>
				</td>
			</tr>
			</tbody>
			</table>
			<p>
				<a href="#">See all (7)...</a>
			</p>
		</div>
	</div>
</div>

<!-- Edit event button-->
<div id="EditProfile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">Edit My Profile</h3>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="control-group">
				<label class="control-label-custom" for="input01">First name</label>
				<div class="controls-custom">
					<input type="text" class="input-medium" id="input01" name="title" value="{{ user.first_name }}"><span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input01">Last name</label>
				<div class="controls-custom">
					<input type="text" class="input-medium" id="input01" name="title" value="{{ user.last_name }}"><span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input01">Email&nbsp;address</label>
				<div class="controls-custom">
					<input type="text" class="input-large" id="input01" name="title" value="{{ user.email }}" disabled="disabled"><span class="help-inline"></span>
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label-custom" for="input01">Old&nbsp;Password</label>
				<div class="controls-custom">
					<input type="password" class="input-medium" id="input01" name="title" value="{{ user.password }}"><span class="help-inline"></span>
				</div>
			</div>
				
			<div class="control-group">
				<label class="control-label-custom" for="input01">New&nbsp;Password</label>
				<div class="controls-custom">
					<input type="password" class="input-medium" id="input01" name="title" ><span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input01">Again</label>
				<div class="controls-custom">
					<input type="password" class="input-medium" id="input01" name="title" ><span class="help-inline"></span>
				</div>
			</div>
			
			<div class="control-group" >
				<label class="radio inline">
					<input type="radio" name="picType" id="fbPic" value="fbPic" onChange="disablefield();">
					Use Facebook Picture
				</label>
				<label class="radio inline">
					<input type="radio" name="picType" id="noFbPic" value="pic" checked="checked" onChange="disablefield();" >
					Upload picture
				</label>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input11">Image</label>
				<div class="controls-custom">
					<div class="input-append">
						<input type="file" name="uploadPic" id="uploadPic"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancel</button>
		<button class="btn btn-primary">Edit Profile</button>
	</div>
</div>
<!-- Edit event button-->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 id="myModalLabel">Edit event</h3>
	</div>
	<div class="modal-body">
		<div class="form-horizontal">
			<div class="control-group">
				<label class="control-label-custom" for="input01">Event Title</label>
				<div class="controls-custom">
					<input type="text" class="span5" id="input01" name="title" value="Washington vs. USC Football Game"><span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input02">Start</label>
				<div class="controls-custom controls-row">
					<div class="input-append">
						<input type="text" class="input-small datepicker" id="input02" name="startdate" style="text-align:center;" autocomplete="off" value="10/13/2012"><span id="picker-1" class="add-on btn"><i class="icon-calendar"></i></span>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="input-append">
						<input type="text" class="input-mini" id="starttime" name="starttime" style="text-align:center;" autocomplete="off" value="4:00"><span id="clockswitch-1" class="add-on btn" type="button">&nbsp;PM&nbsp;</span>
					</div>
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input03">Finish</label>
				<div class="controls-custom controls-row">
					<div class="input-append">
						<input type="text" class="input-small datepicker" id="input03" name="enddate" style="text-align:center;" autocomplete="off" value="10/13/2012" ?>"><span id="picker-2" class="add-on btn"><i class="icon-calendar"></i></span>
					</div>
					&nbsp;&nbsp;&nbsp;&nbsp;
					<div class="input-append">
						<input type="text" class="input-mini" id="endtime" name="endtime" style="text-align:center;" autocomplete="off" value="7:30"><span id="clockswitch-2" class="add-on btn" type="button">&nbsp;PM&nbsp;</span>
					</div>
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input04">Description</label>
				<div class="controls-custom">
					<textarea class="span5" id="input04" rows="5" name="description">Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula. </textarea>
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input05">Location</label>
				<div class="controls-custom">
					<select>
						<option>Downtown</option>
						<option>Select a location</option>
						<option>University District</option>
						<option>Ballard</option>
						<option>Green Lake</option>
						<option>Northgate</option>
					</select>
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input06">Cost</label>
				<div class="controls-custom">
					<div class="input-prepend">
						<span class="add-on">$</span><input type="text" value="$20 for UW students; $50 for general public" class="input-small" id="input06" name="cost" placeholder="0.00">
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input07">Web URL</label>
				<div class="controls-custom">
					<div class="input-prepend">
						<span class="add-on"><i class="icon-globe"></i></span><input type="text" class="input-xlarge" id="input07" name="url" value="http://www.centurylinkfield.com/">
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label-custom" for="input08">Categories</label>
				<div class="controls-custom controls-row">
					<label class="checkbox">
					<input type="checkbox" value="">
					Music </label>
					<label class="checkbox">
					<input type="checkbox" value="">
					Arts </label>
					<label class="checkbox">
					<input type="checkbox" value="" checked="checked">
					Sports & Activities </label>
					<label class="checkbox">
					<input type="checkbox" value="">
					Festivals & Fairs </label>
					<label class="checkbox">
					<input type="checkbox" value="">
					Food </label>
					<label class="checkbox">
					<input type="checkbox" value="">
					Film </label>
					<label class="checkbox">
					<input type="checkbox" value="">
					Lectures </label>
					<label class="checkbox">
					<input type="checkbox" value="">
					Fashion </label>
					<label class="checkbox">
					<input type="checkbox" value="">
					Nightlife </label>
					<label class="checkbox">
					<input type="checkbox" value="">
					Kids & Family </label>
					<label class="checkbox">
					<input type="checkbox" value="">
					Charities </label>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal">Cancel</button>
		<button class="btn btn-primary">Edit Event</button>
	</div>
{% include "footer.html" %}