{% include 'header.html' %}


<style type="text/css">
  body {
    background: url({{ STATIC_URL }}img/bg.jpg) repeat 0 0 #efefef;
  }
</style>

<div id="fb-root"></div>
<!--<script src="https://connect.facebook.net/en_US/all.js#appId=419055718161688&xfbml=1"></script>-->
<script src="https://connect.facebook.net/en_US/all.js#appId=291967340913194&xfbml=1"></script>

<div class="row-fluid">
  <div class="span12">
    <div class="registration-title">
      <h2>Create an account</h2>
    </div>
  </div>
</div>

<div class="row-fluid align-center">
  <div class="span12">
    <!---<fb:registration
        redirect-uri="http://127.0.0.1:8000/register"
        fields="[
        {'name':'name','view':'prefilled'},
        {'name':'first_name','view':'not_prefilled'},
        {'name':'last_name','view':'not_prefilled'},
        {'name':'gender'},
        {'name':'birthday'},
        {'name':'email'},
        {'name':'phone','description':'Phone Number','type':'text'},
        {'name':'location','description':'Location','type':'typeahead', 'categories':['city','country','state_province']}
        ]"
        width="940">
    </fb:registration>-->
    <fb:registration
        redirect-uri="http://127.0.0.1:8000/register"
        fields="[
        {'name':'name','view':'prefilled'},
        {'name':'first_name','view':'not_prefilled'},
        {'name':'last_name','view':'not_prefilled'},
        {'name':'email'}
        ]"
        width="940">
    </fb:registration>
  </div>
</div>

<br>

{% include 'footer.html' %}